<p>Hello {{ customer.firstName }},</p>

<p>A bank account <strong>{{ resource.name }}</strong> was removed from your account on <strong>{{ today_date }}</strong>.</p>

<p>Your regular scheduled payments will no longer be processed using this bank account.  To add a new bank account, log into your MySunBuddy account and follow the prompts to add a payment method on your dashboard.  </p>

<p>If you have any questions or concerns about this bank account being removed please contact support at (617) 934-4847 or support@mysunbuddy.com.</p>
