<p>Hello {{ customer.firstName }},</p>

<p>Your payment to {{ destination.firstName }} has been cancelled. Here are the details of this payment:</p>

<p>Transfer Type: Bank Transfer<br>
  Source: {{ source_funding_source.name }}<br>
  Recipient: {{ destination.firstName }} {{ destination.lastName }}<br>
  Amount: ${{ resource.amount.value }} {{ resource.amount.currency }}<br>
  Date Initiated: {{ resource.created }}<br>
</p>

<p>If you have any questions or concerns about this transfer please contact support at (617) 934-4847 or support@mysunbuddy.com.</p>
