<p>Hello {{ customer.firstName }},</p>

<p>A funding source was added to your account. Here are the details:</p>

<p>
  <strong>Bank</strong>: {{ resource.bankName }}<br />
  <strong>Account</strong>: {{ resource.name }}<br />
  <strong>Date</strong>: {{ resource.created }}
</p>

<p>You’ve agreed that future payments to MySunBuddy will be processed by the Dwolla payment system using bank account PNC. To cancel, send an email to support@mysunbuddy.com.</p>

<p>If you have any questions or concerns about this bank account being added please contact support at (617) 934-4847 or support@mysunbuddy.com.</p>
