<header class="faq-header"></header>
<div class="faq-body" ng-controller="FAQController as $ctrl">
  <h2>Frequently Asked Questions</h2>
  
  <h4>What is MySunBuddy?</h4>
  <p>MySunBuddy is an independent software platform that enables its users to buy and sell net metering credits. We work with individual homeowners, businesses, solar installers and real estate developers to join our peer-to-peer solar network.</p>
  <p>This platform allows users to receive net metering credits from local solar systems throughout their communities. MySunBuddy is currently in an open beta release.</p>
  <p>MySunBuddy was founded by three colleagues and friends who wanted to make the process of solar sharing more accessible, such that anyone would be able to access solar on a peer-to-peer basis, expanding the possibilities for solar PV within dense urban environments.</p>
  
  <h4>How do I buy or sell solar through the platform?</h4>
  <p>During the sign-up process, MySunBuddy will request access to your energy usage through your utility bill history and will also establish a payment method for receiving or sending payments to other peers on the network.</p>
  <p>MySunBuddy uses secure third-party providers to complete this process. We use this information to directly connect solar system owners with individuals or businesses that would like to buy solar net metering credits.</p>
  <p>Once a match is made and after utility approval, if you are a buyer you will begin receiving net metering bill credits from your SunBuddy. As a seller, you will receive monthly payments from the buyer. This process usually takes approximately one month once match is received. All net metering credits sold through the platform are 15% off the value of the bill credit (currently roughly equal to the retail rate of electricity).</p>
  <p>Please note: MySunBuddy is only currently available in Massachusetts. If you are within another state, please contact us directly: <a ng-href="mailto:{{ $ctrl.mailtoEmail }}">{{ $ctrl.mailtoEmail }}</a>.</p>
  <p>We are also working to expand the number of payment options on the platform &#x2013; we currently use ACH payments.</p>
  
  <h4>How much does the platform cost?</h4>
  <p>For individual users, it is free to sign-up on the platform. Like many online marketplaces, MySunBuddy charges a transaction fee for transactions made through the platform of 5%.</p>
  <p>If you are a solar installer or property developer, seeking to use our enterprise-level tools, there is a license fee associated with the product and software customization fees for any platform changes we make to meet your needs. We are always happy to discuss this on a case-by-case basis. You can use the installer link on <a href="https://mysunbuddy.com" rel="external" target="_blank">www.mysunbuddy.com</a> or reach out to us directly.</p>
  
  <h4>How will I know that I have received my credits or that the seller has received payment?</h4>
  <p>MySunBuddy works through net metering. For buyers, you will receive a bill credit on your utility bill based on the amount of solar production your SunBuddy sent you for the month. This will reduce the amount you have to pay your electric utility. For sellers, you will receive a direct payment from your SunBuddy for the amount of production sold on the network for the month.</p>
  
  <h4>How long am I matched with MySunBuddy? What if I have to move?</h4>
  <p>MySunBuddy matches are for a minimum of six months. If you would not like to renew after the six-month period, you move, or your circumstances change, we can find another match for you or remove you from our network if you are exiting our service territory. Please just send us a notification at <a ng-href="mailto:{{ $ctrl.mailtoEmail }}">{{ $ctrl.mailtoEmail }}</a>.</p>
  <p>You can find more information about terms under the site's <a ng-href="{{ $ctrl.termsOfUseLink }}" target="_blank">Terms and Conditions.</a></p>
  
  <h4>I have a large system. Can I sell my credits to more than one party?</h4>
  <p>Yes. We can continue to match you with buyers until you reached to amount of credits that you would like to sell. If you are considering adding a large commercial system to the network, we have tools for managing systems, which have a substantial number of buyers. Please contact us directly &#x2013; <a ng-href="mailto:{{ $ctrl.mailtoEmail }}">{{ $ctrl.mailtoEmail }}</a>.</p>
  
  <h4>I am an installer or property developer. Can I use your platform to manage a system, which is currently in development?</h4>
  <p>Yes, we can work with you to set-up parameters for your system. If you are developer developing a system for a specific set of users or a community, we do have a method of ensuring that your desired buyers can be matched with the system you are developing.</p>
  
  <h4>What if there are no matches when I initially sign-up as a buyer or seller?</h4>
  <p>We are actively building our peer-to-peer network. We have several pilots launching in the coming months, which will expand the numbers of users on the platform. You will receive a notification e-mail when you are paired with a match.</p>
  <p>Hang tight! Know that we are working to expand the SunBuddy network across the state.</p>
  
  <h4>What if I have any other questions?</h4>
  <p>Feel free to reach out to us directly &#x2013; <a ng-href="mailto:{{ $ctrl.mailtoEmail }}">{{ $ctrl.mailtoEmail }}</a>.</p>
</div>
