<div class="home">
	<header class="clearfix"></header>
  <!--/ header -->
  <div class="main-container">
  	<div class="banner banner-welcome text-center">
    	<h2>WELCOME TO MYSUNBUDDY</h2>
      <p>We are a marketplace for solar energy.</p>
    </div>
    <!--/ .banner -->
    <div class="banner banner-sign-up">
    	<div class="clearfix">
        <div class="col-6 text-right">
        	<div class="quote pull-right">
          	<p><i>“</i>If you own a solar system, and would like to sell or donate some of some of your solar energy with your neighbors, sign-up as a seller. We will match you with other MySunBuddy users near you after a few simple steps.<i>”</i></p>
            <a href="#/Sign_Up_Seller" class="btn btn-seller"><span class="icon icon-seller">SIGN UP AS SELLER</span></a>
          </div>
        </div>
        <!--/ .col-6 -->
        <div class="col-6">
        	<div class="quote">
          	<p><i>“</i>If you do not have a solar system on your house, and would like to benefit from discounted, cheaper energy, sign-up as a buyer. We will match you with MySunBuddy users who can share the sun with you.<i>”</i></p>
            <a href="#/Sign_Up_Buyer" class="btn btn-buyer"><span class="icon icon-buyer">SIGN UP AS BUYER</span></a>
          </div>
        </div>
        <!--/ .col-6 -->
      </div>
    </div>
    <!--/ .banner -->
    <div class="widget widget-buy-from-neighbors" id="about">
      <div class="introduction">
        <h3>Buy solar from neighbors</h3>
        <p>MySunbuddy is here to help neighbors share the benefits of solar energy! If you live or work in a place without solar, we can connect you with local systems with credits to share. </p>
        <p>MySunBuddy is a web platform to share the sun between homes, towns and businesses.</p>
        <a ng-href="#/Sign_Up_Buyer" class="btn btn-information"><span class="icon icon-get-start">GET STARTED</span></a>
      </div>
      <!--/ .infor -->
    </div>
    <!--/ .widget -->
    <div class="widget widget-services" id="services">
    	<h2 class="text-center">
      	<span>SERVICES</span>
      </h2>
      <div class="clearfix">
      	<ul class="clearfix">
        	<li class="list__item text-center icon icon-buy-local">
          	<div>
          		<h3 class="text-uppercase">Buy Local Solar</h3>
              <p>MySunbuddy is here to help neighbors share solar energy! If you live or work in a place without solar, MySunBuddy is the platform to share the sun and savings between homes, towns and businesses.</p>
            </div>
          </li>
          <li class="list__item text-center icon icon-sell-excess">
          	<div>
          		<h3 class="text-uppercase">Sell Excess Solar</h3>
              <p>If your solar system produces more than you can use, MySunBuddy can connect you with willing buyers. It's a win-win!</p>
            </div>
          </li>
          <li class="list__item text-center icon icon-eay-use">
          	<div>
          		<h3 class="text-uppercase">Easy to Use</h3>
              <p>It's easy to get started! We'll take care of the paperwork and transactions. MySunBuddy will launch soon - if you want to join our community please sign our interest list.</p>
            </div>
          </li>
          <li class="list__item text-center icon icon-experienced-team">
          	<div>
          		<h3 class="text-uppercase">Experienced Team</h3>
              <p>The MySunBuddy team has worked in the solar and electricity industry for years. We are here to help you!</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="widget widget-contact">
      <h2 class="text-center">
        <span>Awards and Recognition</span>
      </h2>
      <br>
      <div class="row">
        <div class="col-xs-4 text-center">
          <div class="thumbnail">
            <img src="https://cloud.githubusercontent.com/assets/12685152/12708526/611de82a-c86e-11e5-866e-27e567788eb0.png" alt="Catalyst Logo" />
            <div class="caption">
              <h3 style= "color:#7c7c7c" "text-center"> <a href="http://energy.gov/eere/articles/seven-teams-win-big-catalyst-energy-innovation-demo-day">U.S. Department of Energy Catalyst</a></h3>
              <p>Business Innovation Winner</p>
            </div>
          </div>
        </div>

        <div class="col-xs-4 text-center">
          <div class="thumbnail">
            <img src="https://cloud.githubusercontent.com/assets/12685152/12708524/5aed347e-c86e-11e5-9955-66b8a25ffae7.png" alt="CTO Logo" />
            <div class="caption">
              <h3 style= "color: #7c7c7c"><a href="https://northeast.cleantechopen.org/en/challenge/cleantech-open-northeast/2/phase/5/startups/directory">Cleantech Open Northeast</a></h3>
            </div>
          </div>
        </div>

        <div class="col-xs-4 text-center">
          <div class="thumbnail">
            <img src="https://cloud.githubusercontent.com/assets/12685152/12708533/68463be8-c86e-11e5-8d24-0deec37604ac.png" alt="Cleanweb Logo" />
            <div class="caption">
              <h3 = style="color:#7c7c7c"><a href="http://www.masscec.com/about-masscec/news/masscec-announces-winners-2015-boston-cleanweb-hackathon">Massachusetts Clean Energy Center Cleanweb Hackathon</a></h3>
              <p>2015 Winner</p>
            </div>
          </div>
        </div>
      </div><!-- End Row Div -->
    </div><!-- End Div -->
    <!--/ .widget -->
    <div class="widget widget-contact" id="contact">
    	<h2 class="text-center">
      	<span>CONTACT</span>
      </h2>
      <div class="clearfix">
        <div class="introduction">
          <p>MySunBuddy is gearing up for launch. Please sign our interest list if you would like to be a beta user, or  e-mail us or follow-us on Twitter.</p>
        </div>
        <!--/ .introduction -->
        <ul>
          <li class="text-center">
            <a href="mailto:info@mysunbuddy.com" data-my-target>
              <span class="icon icon-email"></span>
              info@mysunbuddy.com
            </a>
          </li>
          <li class="text-center">
            <a href="https://twitter.com/Mysunbuddy" data-my-target>
              <span class="icon icon-twitter"></span>
              @Mysunbuddy
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--/ .widget -->
  </div>
  <!--/ .main-container -->
  <!--  -->
</div>
<!--/ .home -->
