<div class="landing">
  <header></header>
  <div class="main-container">
    <section class="welcome">
      <div class="welcome-text">
        <h1>Welcome to MySunBuddy</h1>
        <h3>MySunBuddy joins Somerville in going green</h3>
      </div>
    </section>

    <section class="join" id="sign-up">
      <div class="card-container">

        <div class="card left">
          <img id="sun" src="static/assets/images/icons/icon-sun.svg" alt="Sun Icon">
          <h3>Have solar power?</h3>
          <ul>
            <li>
              <p>You have a solar system on your home or business</p>
            </li>
            <li>
              <p>You would like to share some of your energy with your neighbors or community</p>
            </li>
            <li>
              <p>You would like to make extra money</p>
            </li>
          </ul>
          <div class="sign-up-link">
            <!--<a href="mailto:info@mysunbuddy.com">Email us to sign up as a seller</a>-->
            <a href="#/Sign_Up_Seller">Sign up as a seller</a>
            <img class="">
          </div>
        </div>

        <div class="card right">
          <img id="power" src="static/assets/images/icons/icon-power.svg" alt="Lightning Bolt Icon">
          <h3>Want solar power?</h3>
          <ul>
            <li>
              <p>Don’t have a solar system? You can still use solar energy!</p>
            </li>
            <li>
              <p>Benefit from cheaper, clean energy</p>
            </li>
            <li>
              <p>Help Somerville reduce its emissions</p>
            </li>
          </ul>
          <div class="sign-up-link" id="right">
            <a href="#/Sign_Up_Buyer#">Sign up as a buyer</a>
          </div>
        </div>

      </div>
    </section>

    <section class="slanted city-frame" id="city-frame">
      <div class="rotate">
        <h2>Somerville is helping you go solar!</h2>
        <p>Help Somerville achieve its goal of carbon neutrality by 2050.</p>
        <p>Solar is a smart choice for our community. Solar is clean, and it also reduces carbon emissions and provides significant long-term savings. With Somerville racing to zero carbon, there will never be a better time to go solar:</p>
        <a href="javascript:;" data-ng-click="scrollTo('sign-up')">Sign up now to be part of this exciting community effort.</a>
      </div>
    </section>

    <section class="slanted installer" id="installer">
      <img src="static/assets/images/bg-installer.png">
      <div class="rotate">
        <h2>Are you an installer?</h2>
        <p>In addition to peer to peer services, MySunBuddy provides software support and subscription management for community solar projects. We offer streamlined software services for installers and subscribers, and customization to meet your needs.</p>
        <a href="mailto:kathryn@mysunbuddy.com">
          <button class="button-large" type="button" name="button">Contact us!</button>
        </a>
      </div>
    </section>

    <section class="slanted dashboard-info" id="about">
      <div class="rotate">
        <div class="info">
          <h3>The dashboard</h3>
          <p>MySunBuddy has a clean interface, and is easy to use. We are able to quickly match solar installation of all sizes to homes and businesses that want to go solar. We seamlessly connect utility information and payment processing to support both peer to peer energy and community solar projects.</p>
          <a href="javascript:;" data-ng-click="scrollTo('sign-up')">Sign up</a>
        </div>
        <div class="image">
          <img src="static/assets/images/img-dashboard.png" alt="Screenshot of MySunBuddy Installer Dashboard">
        </div>
      </div>
    </section>

    <section class="slanted services" id="services">
      <div class="rotate">
        <h2>Services we offer</h2>
        <div class="services-container">
          <ul>
            <li class="service left">
              <img id="cart" src="static/assets/images/icons/icon-cart.svg" alt="Shopping Cart Icon">
              <h4>Buy local solar</h4>
              <p>MySunBuddy is the platform to share the sun and savings between homes, towns and businesses.</p>
            </li>
            <li class="service left">
              <img id="dollar" src="static/assets/images/icons/icon-dollar.svg" alt="Dollar Bill Icon">
              <h4>Sell excess solar</h4>
              <p>If your solar system produces more than you can use, MySunBuddy can connect you with willing buyers.</p>
            </li>
            <li class="service left">
              <img id="like" src="static/assets/images/icons/icon-like.svg" alt="Thumb's Up Icon">
              <h4>Easy to use</h4>
              <p>It's easy to get started! We'll take care of the paperwork and transactions.</p>
            </li>
            <li class="service left">
              <img id="team" src="static/assets/images/icons/icon-team.svg" alt="Team Icon">
              <h4>Experienced team</h4>
              <p>The MySunBuddy team has worked in the solar and electricity industry for years. We are here to help you!</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="sponsors">
      <div class="sponsors-container">
        <img src="static/assets/images/sponsors/sponsor-catalyst.png" alt="Catalyst Logo">
        <img src="static/assets/images/sponsors/sponsor-cleanenergy.png" alt="Massachusetts Clean Energy Center Logo">
        <img id="cleantech" src="static/assets/images/sponsors/sponsor-cleantech.png" alt="Clean Tech Open Northeast Logo">
        <img src="static/assets/images/sponsors/sponsor-cleanweb.png" alt="Boston Cleanweb Hackathon Logo">
        <img src="static/assets/images/sponsors/sponsor-sunshot.png" alt="Sunshot by the U.S. Department of Energy Logo">
      </div>
    </section>

  </div>
</div>
