<div class="sign-up" xmlns="http://www.w3.org/1999/html">
	<header class="clearfix"></header>
  <!--/ header -->
  <div class="main-container">
  	<div class="breadcrumb">
        <h2>Change Password</h2>
    </div>

      <div class="flow-content" ng-show="!valid">
              <p> The password change link was invalid, possibly because it has already been used.</p>
       </div>
      <div class="flow-content" ng-show="valid">
           <fieldset>
               <div class="form-group clearfix center-group">
                  <p ng-if="!changed">  Please change password.</p>
                 <p ng-if="changed">  Your password is now changed. Please signin with new password.</p>
             </div>
          <form name="changePasswordForm" ng-hide="changed">
    <!--/ .form-group -->
    <div class="form-group clearfix" ng-class="{'has-error':  changePasswordForm.password.$invalid && submitted}">
        <label class="pull-left text-right">Password:</label>
      <div class="pull-left input-group">
        <input type="password" data-ng-model="user.password" class="pull-left input-control" name="password" required maxlength="100"/>

        <div class="password-strength" data-ng-show="passStrength" data-ng-class="{'strong': (passStrength >= 50)}">
            <span class="information">{{passStrength > 50 ? 'Strong' : 'Weak'}}</span>
            <div data-ng-password-strength="user.password" data-strength="passStrength"></div>
        </div>
          <p class="help-block clearfix" data-ng-if="changePasswordForm.password.$error.required && submitted">The password is required.</p>
      </div>
   </div>
    <!--/ .form-group -->
    <div class="form-group clearfix" ng-class="{'has-error':  changePasswordForm.confirmPassword.$invalid && submitted}">
        <label class="pull-left text-right">Confirm Password:</label>
      <div class="pull-left input-group">
        <input type="password" class="input-control" data-ng-model="user.confirmPassword" name="confirmPassword" match="user.password" required maxlength="100"/>
          <p class="help-block" data-ng-if="changePasswordForm.confirmPassword.$error.required && submitted">The confirm password is required.</p>
          <p class="help-block" data-ng-if="!changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$error.match && submitted">The confirm password not match password.</p>
      </div>
    </div>

    <!--/ .form-group -->
  </fieldset>
              </form>
                     <fieldset ng-if="!changed">
             <div class="form-group clearfix  center-group">
                    <a href="#/" class="btn btn-default">CANCEL</a>
                    <a href="javascript:;" class="btn btn-secondary " data-ng-click="changePassword()">CHANGE</a>
             </div>
             </fieldset>
          <fieldset ng-if="changed">
             <div class="form-group clearfix center-group">
                <a href="javascript:;" class="btn btn-primary btn-sign-in" data-ng-click="showSignInModal();">SIGN IN</a>
             </div>
             </fieldset>
       </div>
   </div>
  <!--/ .main-container -->
</div>
<!--/ .home -->