<div class="modal-container white">
  <div class="modal-general no-error">
    <form>
      <a href="javascript:;" class="close right" data-ng-click="cancel()">
        <img src="static/assets/images/icons/icon-close.svg" />
      </a>
      <h3>Add new installation</h3>

      <div class="input-field">
        <input type="text" data-ng-model="installation.name" id="name" required maxlength="100" />
        <span class="floating-label">Name</span>
      </div>

      <div class="input-field">
        <input type="text" data-ng-model="installation.community_code" id="community_code" required maxlength="100" />
        <span class="floating-label">Community code</span>
      </div>

      <div class="input-field">
        <input type="text" data-ng-model="installation.address" id="address" required maxlength="200" />
        <span class="floating-label">Address</span>
      </div>

      <div class="input-field">
        <input type="text" data-ng-model="installation.city" id="city" required maxlength="100" />
        <span class="floating-label">City</span>
      </div>

      <div class="input-field half left">
        <input type="text" data-ng-model="installation.state" id="state" required maxlength="2" />
        <span class="floating-label">State</span>
      </div>

      <div class="input-field half right">
        <input type="text" data-ng-model="installation.zip_code" id="zip_code" required maxlength="100" />
        <span class="floating-label">Zip</span>
      </div>

      <div class="button-container">
        <button class="button-large" type="submit" data-ng-click="createInstallation();">Create installation</button>
      </div>
    </form>
  </div>
</div>
