<div class="modal-container white">
  <div class="modal-general no-error">
    <form>
      <a href="javascript:;" class="close right" data-ng-click="cancel()">
        <img src="static/assets/images/icons/icon-close.svg" />
      </a>
      <h4>Confirmation</h4>
      <p style="margin-bottom:40px;line-height:30px;">Are you sure you would like to reject this deal?</p>

      <div class="button-container">
        <button class="button-large" type="submit" data-ng-click="rejectSale();">Yes</button>
      </div>
    </form>
  </div>
</div>
