<div class="modal-container white">
  <div class="modal-forgot-password">
    <form>
      <a href="javascript:;" class="close right" data-ng-click="cancel()">
        <img src="static/assets/images/icons/icon-close.svg" />
      </a>
      <h3>Forgot Password</h3>
      <p>Enter the email address for your account and we'll send you a link to reset your password.</p>

      <!-- Email Field -->
      <div class="input-field">
        <input type="text" ng-class="{'error-black': result === 'error'}" data-ng-model="user.login" id="login" data-ng-focus="getFocus();" required />
        <span class="floating-label" ng-class="{'error': result === 'error'}">Email</span>
        <p class="error-info" data-ng-if="result">{{ result }}</p>
      </div>

      <!-- Reset Button -->
      <div class="button-container">
        <button class="button-large" type="submit" href="javascript:;" data-ng-click="resetPassword();">Reset Password</button>
      </div>
    </form>
  </div>
</div>
